
.container {
    height: calc(100vh - 120px);
    border: 3px solid #bb976d;
    border-radius: 8px;
    overflow: auto;
}
.codeEditor {
    min-height: calc(100vh - 127px);
    color: #232323;

}
