.panel {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}
.button {
    border-radius: 8px;
    background-color: #d7a170;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 22px;
}

.select {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    padding: 2px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;

}
.selected {
    background-color: #969696;
}
