:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  color: white;
  background-color: #639cbd;
}


a {
  color: inherit;
  text-decoration: none;
}

/**
  global styles for Trace log
*/
.entries-wrapper {
  margin-top: 13px;
  height: calc(100vh - 122px);
  border-radius: 8px;
  background-color: #f0f0f0;
  outline: 2px solid #bbbbbb;
}

.trace-log .header {
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 10px;

}
